.contact-us-form-content {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.contacts {
  width: 40%;
  margin: 0 15px;
}
.contact-us-form-item {
  margin-bottom: 32px;
}
.contact-us-form-item:last-child {
  margin-bottom: 0;
}
.contact-us-form-item input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  outline: none;
  display: block;
  margin-top: 32px;
}
.contact-us-form-item input:first-child {
  margin-top: 0;
}
.contact-us-form-item input:focus {
  border-color: rgba(236, 121, 121, 1);
  font-family: "open sans";
  font-size: 0.875em;
}
.contact-us-form-item label {
  font-size: 0.875em;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 19.07px;
  color: rgba(189, 189, 189, 1);
}

textarea {
  border: none;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
  outline: none;
  height: 220px;
  width: 100%;
  resize: none;
  padding: 20px;
  margin-top: 34px;
}
textarea:focus {
  outline: solid 1px rgba(236, 121, 121, 1);
  border-bottom: none;
  font-family: "open sans";
  font-size: 0.875em;
}
.contact-us-form-textarea {
  width: 40%;
  margin: 0 15px;
}
.contact-us-message {
  font-size: 0.875em;
  font-weight: 400;
  color: rgba(189, 189, 189, 1);
}

.send-message-button {
  width: 166px;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(236, 121, 121, 1);
  margin: 69px auto auto auto;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 0.9375em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
