.first-screen {
  background-image: url(../img/background\ social.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
}

.first-screen::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
}

.wrap-first-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  text-align: left;
  width: 544px;
  font-size: 36px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 42px;
  color: rgba(255, 255, 255, 1);
  margin-top: 42px;
  margin-bottom: 32px;
}
.title::after {
  content: "";
  width: 64px;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
  display: block;
  margin-top: 34px;
  margin-bottom: 39px;
}
.logo-first-screen-AX {
  font-family: "roboto";
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  color: rgba(255, 255, 255, 1);
}
.logo-first-screen-IT {
  font-family: "roboto";
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  color: rgba(236, 121, 121, 1);
  margin-bottom: 42px;
}

.about-description {
  width: 282px;
  line-height: 19px;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 39px;
}
.dowload-main {
  background-color: rgba(196, 196, 196, 0);
  border-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  width: 135px;
  height: 42px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 600;
  line-height: 20.43px;
}

.dowload-main:hover {
  background-color: #fff;
  color: rgb(66, 64, 64);
  cursor: pointer;
  transition-duration: 0.1s;
}

.registrating-window {
  width: 370px;
  height: 370px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-name {
  width: 370px;
  height: 370px;
}

.title-form {
  text-align: center;
  height: 56px;
  line-height: 27.24px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(51, 51, 51, 1);
  padding: 0px 59px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.free {
  color: rgba(253, 121, 121, 1);
}

.get-started {
  width: 370px;
  height: 54px;
  background-color: rgba(236, 121, 121, 1);
  margin-bottom: 0;
}
.form-input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 45px 59px 61px;
}
label.name {
  font-size: 14px;
  font-weight: 400;
  color: rgba(189, 189, 189, 1);
}
label.email {
  font-size: 14px;
  font-weight: 400;
  color: rgba(189, 189, 189, 1);
  display: block;
}
label.password {
  font-size: 14px;
  font-weight: 400;
  color: rgba(189, 189, 189, 1);
  display: block;
}
input.name {
  color: black;
  font-family: "Open Sans";
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(189, 189, 189, 1);
  margin-bottom: 19px;
  outline: none;
  display: block;
  width: 100%;
}
input.email {
  color: black;
  font-family: "Open Sans";
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(189, 189, 189, 1);
  margin-bottom: 19px;
  outline: none;
  display: block;
  width: 100%;
}
input.password {
  color: black;
  font-family: "Open Sans";
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(189, 189, 189, 1);
  outline: none;
  display: block;
  width: 100%;
}
input:focus {
  border-color: rgba(236, 121, 121, 1);
}
.get-start {
  height: 54px;
  width: 370px;
  background-color: rgba(236, 121, 121, 1);
  border: none;
  border-radius: 0 0 8px 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 600;
}
.get-start:hover {
  cursor: pointer;
}
