.header {
  background-color: rgba(0, 0, 0, 1);
  position: sticky;
  top: 0;
  z-index: 10;
}
.wrap-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.logo {
  width: 80px;
  height: 31px;
  text-transform: uppercase;
  font-size: 1.875em;
  font-weight: 400;
  line-height: 35px;
  margin: 0 15px;
}
.logo-ax {
  font-family: "Raleway";
  color: rgba(255, 255, 255, 1);
}
.logo-ax::after {
  content: "IT";
  font-family: "Roboto";
  color: rgba(236, 121, 121, 1);
  display: inline;
}
.logo:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  text-shadow: 3px -1px 5px rgba(236, 121, 121, 1);
  transition-duration: 0.2s;
}
.navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.7);
  width: 489px;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 20px;
  margin: 0 15px;
}
.burger {
  display: none;
}
.feauters:hover {
  cursor: pointer;
  color: rgba(236, 121, 121, 1);
  transform: scale(1.2, 1.2);
  text-shadow: 3px -1px 5px rgba(236, 121, 121, 1);
  transition-duration: 0.2s;
}

.about:hover {
  cursor: pointer;
  color: rgba(236, 121, 121, 1);
  transform: scale(1.2, 1.2);
  text-shadow: 3px -1px 5px rgba(236, 121, 121, 1);
  transition-duration: 0.2s;
}
.pricing:hover {
  cursor: pointer;
  color: rgba(236, 121, 121, 1);
  transform: scale(1.2, 1.2);
  text-shadow: 3px -1px 5px rgba(236, 121, 121, 1);
  transition-duration: 0.2s;
}
.reviews:hover {
  cursor: pointer;
  color: rgba(236, 121, 121, 1);
  transform: scale(1.2, 1.2);
  text-shadow: 3px -1px 5px rgba(236, 121, 121, 1);
  transition-duration: 0.2s;
}
.contact:hover {
  cursor: pointer;
  color: rgba(236, 121, 121, 1);
  transform: scale(1.2, 1.2);
  text-shadow: 3px -1px 5px rgba(236, 121, 121, 1);
  transition-duration: 0.2s;
}
