.description-pricing {
  text-align: center;
  margin: 34px auto 62px auto;
  width: auto;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19.07px;
  color: #86878b;
}

.rate-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.rate-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 340px;
  margin: 0 15px;
}
.rate-card:hover {
  transform: translate(5px, -20px);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 5px -5px 25px #767676;
}
.rate-card-name {
  line-height: 50px;
  width: 340px;
  background-color: #333333;
  margin-bottom: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}

.rate-card-cost {
  width: 340px;
  line-height: 100px;
  background-color: #333333;
  margin-bottom: 2px;
  font-size: 2.1875rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Raleway";
}

.rate-card-comment {
  width: 340px;
  line-height: 50px;
  background-color: #333333;
  margin-bottom: 4px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff80;
}

.rate-card-item {
  width: 340px;
  line-height: 40px;
  background-color: #ffffff;
  margin-bottom: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #86878b;
}

.rate-card-item:last-child {
  margin-bottom: 0;
}
